
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

// Bulma
@import "~bulma/bulma";

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

//.navbar-laravel {
//  background-color: #fff;
//  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
//}
