// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Bulma
@import "~bulma/bulma";
@import "~bulma-divider/dist/css/bulma-divider";

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
